body{
  font-family: 'Dosis', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form input{
  width: 26vh;
  height: 3vh;
  border-radius: 10px;
  border:none;
  padding: 10px;
  transition: all ease 1s;
}

input:focus{
  outline: none;
  box-shadow: 1px 1px 1px 1px #4a4343
}

form button{
  margin:20px;
  height:6vh;
  width:14vh;
  border-radius: 10px;
  outline: none;
  border:none;
  transition: all ease .5s;
}
